.products {
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin: 30px 50px;
    }
    select {
        font-size: 1em;
        padding: 5px;
        margin: 10px;
    }
    span {
        margin-left: 30px;
    }
}

.products__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.product {
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;

    &__title {
        white-space: nowrap;
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #333333;
    }

    &__serial-number,
    &__type {
        margin: 0;
        color: #555555;
    }

    &__guarantee {
        margin-top: 10px;
        color: #555555;
    }

    &__price {
        margin-top: 10px;
        color: #555555;
    }

    &__order {
        margin-top: 10px;
        color: #555555;
    }
    &__image {
        width: 50px;
    }
}
